<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>PlanetPulse:Feel the Pulse Act for the Planet 🌍</title>
</head>



    <!--Header Section-->
    <header>
        <div class="logo-container">
            <img src="logo.png" alt="PlanetPulse logo" class="logo">
            <div class="title-container">
                <h1 class="title">PlanetPulse 🌍</h1>
                <div class="subtitle-container">
                    <span class="subtitle">Feel the Pulse &amp;<br>Act for the Planet.</span>
                </div>     
            </div>
        </div>
        
    </header>
    <div class="banner">
        <div class="navbar">
            <ul>
                <!-- Navigation links | add class="active" to indicate which page is active-->
                <li><a href="home.html" target="_blank" >Home</a></li>
                <li><a href="#" target="_blank" >Volunteer</a></li>
                <li><a href="#" target="_blank">Team</a></li>
                <li><a href="#" target="_blank">Sitemap</a></li>
                <li><a href="#" target="_blank">Table</a></li>
                <li><a href="#" target="_blank">Feedback</a></li>
                <li><a href="#" target="_blank">Contact Us</a></li>
                <li><a href="#" target="_blank">Userprofile</a></li>
            </ul> 
        </div>
    </div>
    <h1 style="text-align: center;font-size: 50px;" >Welcome to PlanetPulse</h1>
    
   









<!--Main Footer-->
<footer>
    <div class="footer-content">
        <!--Page Editors links & styling links-->
        <h2>Page Editors</h2>
        <a href="#" target="_blank">Page Editor 1</a>
        <a href="#" target="_blank">Page Editor 2</a>
        <a href="#" target="_blank">Page Editor 3</a>
        <a href="#" target="_blank">Page Editor 4</a>
    </div>
    <div class="styling">
        <h2>Links</h2>
        <a href="style.css" target="_blank">General Page Styling</a>
        <a href="#" target="_blank">Privacy Policy</a>
        <a href="#" target="_blank">Terms of Use</a>
    </div>

    <!--Copyrights Informations-->
    <div class="copyright">
        <p>&copy; 2025 PlanetPulse. All rights reserved.</p>
    </div>
</footer>    










